﻿<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Film Bilgileri Sistemi</title>
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
 
</head>
<body> id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">FİLM BİLGİLERİ SİSTEMİ</a>
            </div>
            <div class="row">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse col-md-4 col-md-offset-3" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                            <a href="#portfolio">FİLMLER</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#about">HAKKINDA</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">İLETİŞİM</a>
                        </li>
                    </ul>
                    
                </div>
                <div class="collapse navbar-collapse col-md-4 pull-right">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#">KAYIT OL</a></li>
                        <li><a href="#">GİRİŞ YAP</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            </div>
            
        <!-- /.container-fluid -->
    </nav>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/ bundles / custom")




    <!-- Footer -->
    <footer class="text-center footer">
        <div class="footer-above footer">
            <div class="container">
                <div class="row">
                    <br /><br />
                    <br /><br /><br />
                    <div class="footer-col col-md-12 " >
                        <h3><u><b>YER</b></u></h3>
                        <p><b>Sakarya Üniversitesi Haşim Gürdamar Bilgisayar ve Bilişim Bilimleri Fakültesi<br>Serdivan/SAKARYA</b></p>
                    </div>
                   
                   
       
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Film Bilgileri Sistemi 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2><u>FİLM ADI</u></h2>
                            <hr>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/FINISWcn1ow" frameborder="0" allowfullscreen></iframe>
                            <p>Filmin konusu.</p>
                           
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

   

    @RenderSection("scripts", required: false)
</body>
</html>
